llama-index
llama-index-embeddings-huggingface
transformers
pyvis
llama-index-llms-langchain
langchain_community
langchain_openai
python-dotenv
pymongo
pandas
langchain_experimental
langchain_openai
neo4j